body {
}

input {
    
}

button {
		width: 100% !important;
}

td {
		background-color: gray;
		width: 100px !important;
		color: white;
		font-size: 20px;
		border: 2px solid black ;
}
.navbar-inverse {
		border: 1px solid gray  !important;
		color: black;	
}

/*form{
  	width: 500px !important;
  	border: 0px solid black !important;
  	padding: 20px;
  	margin-bottom: 5px !important;
}*/

/*.well{
	background-color: white !important;

}
*/

#myProduct {
    width: 50%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 2px solid black;
    margin-bottom: 12px;                          
}

/*.container-fluid {
	margin-top: 50px;
}*/


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111 !important;
    overflow-x: hidden; 
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    overflow-x: hidden;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #999966 !important;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 0px !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*#log_out {
    position: fixed;
    bottom: 700px;
    right: 1000px; 
}*/















	

